.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(245, 244, 244);
}
img{
    width: 100%;
}
.box .image{
    flex-grow: 1;
    flex-basis: 300px;
}
.box .info{
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info >div{
    margin: 40px 0;
display: flex;
    font-size: 23px;
    color: rgb(61, 61, 61);
}
input{
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    height: 40px;
}
h3{
    margin: 0 20px;
    color: rgb(28, 105, 18);
}
button{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    font-weight: 800;
   border: none;
   background-color: rgba(7, 20, 207, 0.877);
   box-shadow: 0 0 20px 1px rgba(8, 143, 197, 0.795);
}

.message{
    transition: 0.5s linear;
    opacity: 0;
    z-index: 10;
  position: fixed;
  bottom: 0px;
  letter-spacing: 2px;
  font-weight: 700;
  left: 50%;
  color: rgb(204, 202, 198);
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.808);
  padding: 20px;
  border-radius: 20px;
  transform: translateX(-50%);  
}