.audio--card>div:first-of-type {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    padding: 0 20px ;
}
.audio--card {
    width: 100%;
    margin: 20px 0;
    padding: 20px 10px;
    border-radius: 60px;
    box-shadow: 0 0 20px 3px rgb(114, 114, 114);
    background-color: rgb(255, 255, 255);
}
.audio--card .title{
    padding: 20px 20px 0;
    margin: 0 20px;
}
.audio--card .fa-play{
    font-size: 30px;
    text-shadow: 0 0 20px rgb(58, 172, 5);
    color: rgba(0, 255, 21, 0.89);
    filter: contrast(12) blur(0.5px);
}
.audio--card .fa-pause{
    font-size: 30px;
    text-shadow: 0 0 20px rgb(142, 165, 12);
    color: rgba(255, 251, 0, 0.89);
    filter: contrast(12) blur(0.5px);
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.audio--disk>div {
    width: 70px;
    position: relative;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    background-size: cover;
    background-image: url('../images/hd-background-wallpapers-free-amazing-cool-tablet-high-definition.jpg');
}

.audio--disk>div::after {
    width: 20px;
    height: 20px;
    position: absolute;
    content: "";
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}