.message {
    transition: 0.5s linear;
    opacity: 0;
    z-index: 10;
    position: fixed;
    bottom: 0px;
    letter-spacing: 2px;
    font-weight: 700;
    left: 50%;
    color: rgb(204, 202, 198);
    font-size: 18px;
    background-color: rgba(255, 0, 0, 0.808);
    padding: 20px;
    border-radius: 20px;
    transform: translateX(-50%);
}

table {
    overflow: scroll;
}

.admin-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 120px;
    margin-bottom: 20px;
}

.admin-view {
    flex-grow: 5;
    flex-basis: 500px;
}

.boshqaruv {
    min-height: 400px;
    background-color: rgba(211, 209, 209, 0.952);
    color: rgb(6, 9, 54);
    padding: 20px 0;
}

.c-head {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
}

.c-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-panel.admin>div:hover {
    height: 90px;
    overflow: hidden;
}

.admin-panel.superAdmin>div:hover {
    height: 156px;
    overflow: hidden;
}

.admin-panel>div {
    transition: all 1s linear;
    height: 20px;
    overflow: hidden;
}

.admin-panel>div .methods>div {
    padding: 6px 5px;
}

.admin-view {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.user-table {
    overflow: scroll;
    box-shadow: 0 0 10px 2px rgb(173, 173, 173);
    width: 100%;
    border-collapse: collapse;
}

.user-table td {
    padding: 10px;
}

.user-table tr:nth-child(even) {
    background-color: rgb(177, 176, 176);
}

.user-table tr:first-child {
    background-color: rgba(70, 14, 10, 0.726);
}

.user-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-box input {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px 2px rgb(196, 196, 196);
    outline: none;
}

.user-box button {
    width: 120px;
    height: 40px;
    outline: none;
    border: none;
    box-shadow: 0 0 20px 3px rgba(90, 162, 255, 0.842);
    border-radius: 20px;
    margin: 20px 0 40px;
}