.loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    transition:opacity 1s linear;
}
.loading--page{
    top: 50%;
    position: fixed;
    left: 50%;
    z-index: 1202;
    width: 230px;
    animation: loading 1s  infinite steps(8);
    height: 274px;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    background-image: url('../images/yugur.png');
}
@keyframes loading {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 1840px 0;
    }
}