* {
    font-family: Arvo;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html,body{
    transition: filter 2s linear;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}
.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
  }
  


@media (max-width:1400px) {
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-4{
        width: calc(100% / 3);
    }
    .col-xl-3{
        width: calc(100% / 4);
    }
    .col-xl-2{
        width: calc(100% / 6);
    }
    .col-xl-1{
        width: calc(100% / 12);
    }
}
@media (min-width:1400px) {
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-4{
        width: calc(100% / 3);
    }
    .col-xl-3{
        width: calc(100% / 4);
    }
    .col-xl-2{
        width: calc(100% / 6);
    }
    .col-xl-1{
        width: calc(100% / 12);
    }
}
@media (max-width:1200px) {
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-4{
        width: calc(100% / 3);
    }
    .col-lg-3{
        width: calc(100% / 4);
    }
    .col-lg-2{
        width: calc(100% / 6);
    }
    .col-lg-1{
        width: calc(100% / 12);
    }
}
@media (max-width:900px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-4{
        width: calc(100% / 3);
    }
    .col-md-3{
        width: calc(100% / 4);
    }
    .col-md-2{
        width: calc(100% / 6);
    }
    .col-md-1{
        width: calc(100% / 12);
    }
}
@media (max-width:600px) {
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-4{
        width: calc(100% / 3);
    }
    .col-sm-3{
        width: calc(100% / 4);
    }
    .col-sm-2{
        width: calc(100% / 6);
    }
    .col-sm-1{
        width: calc(100% / 12);
    }
    .container{
        width: 100%;
    }
}
@media (max-width:500px) {
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-4{
        width: calc(100% / 3);
    }
    .col-xs-3{
        width: calc(100% / 4);
    }
    .col-xs-2{
        width: calc(100% / 6);
    }
    .col-xs-1{
        width: calc(100% / 12);
    }
}
#canvas{
    z-index: -29;
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(116, 14, 14);
    width: 100vw;
    height: 100vh;
    filter: url(#gooo);
    /* background-color: rgba(219, 219, 240, 0.925); */
}
svg{
    width: 0;
    height: 0;
}