$mainColor: #febd69;

.Footer {
  border-top: 1px solid #f1f1f1;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      .inside {
        flex: 3;
        .logo {
          font-size: 25px;
          color: $mainColor;
          margin-bottom: 10px;
        }
        p {
          font-size: 20px;
          color: #192275;
        }
      }
      .contact {
        flex: 4;
        .aloqa {
          display: block;
          a {
            margin-top: 5px;
            display: flex;
            align-items: center;
            .icon {
              margin-right: 5px;
            }
          }
        }
      }
      .socialMedia {
        flex: 2;
      }
    }
  }
}
