.Home {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .SidebarHome {
      flex: 2;
      .css-10d9dml-MuiTabs-indicator {
        background-color: #febd69;
      }

      .sidebarList {
        list-style-type: none;
        // display: flex;
        // flex-direction: column;
        .sidebarItem {
          display: block;
          margin: 20px;
          border: 1px solid #f1f1f1;
          padding: 15px;
          border-radius: 5px;
          // cursor: pointer;
          position: relative;
          background-color: chocolate;
          .sidebarLink {
            text-decoration: none;
            color: #fff;
            font-size: 25px;
            &:before {
              content: " ";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
    .Feed {
      flex: 5;
      .Cards {
        display: flex;
        .cardsChild {
          margin-right: 15px;
        }
      }
    }
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #febd69 !important;
}
