<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="stylesheet" href="/css/snippets.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/hd-background-wallpapers-free-amazing-cool-tablet-high-definition.jpg"
        type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script defer src="/js/background.js"></script>
    <script defer src="/js/login.js" type="module" ></script>
    <title>Login</title>
</head>

<body>
    <canvas id="canvas">

    </canvas>
    <div class="message">

    </div>
    <div class="loading">
        <div class="loading--page">

        </div>
    </div>
    <div class="box">
        <div class="login-box">
            <div class="tizim">
                Tizimga kirish
            </div>
            <div class="login">
                <input placeholder="login" type="text" name="login" id="login">
            </div>
            <div class="password">
                <input placeholder="parol" type="password" name="password" id="password">
            </div>
            <div class="button">
                <button id="btn">
                    Kirish
                </button>
            </div>
        </div>
    </div>
</body>
<script defer src="/js/loading.js"></script>

</html>